*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  background: #f9f9f9;
}

.messi-title {
  font-size: 5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

img{
  width: 100%;

}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;

}

.card img {
  height: 400px;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

@media (max-width: 700px){
  .card {
    display: block;
  }
}
